body {
  margin: 1rem;
  background-color: midnightblue;
}

.app {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  max-width: 100%;
  height: 100vh;
  width: 100vw;
  gap: 2rem;

  & > .section {
    width: 100vw;
  }
}

.componentSection {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 0.25rem;

  & > .title {
    margin: 0;
  }
}

.title {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: whitesmoke;
  font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
}

.container {
  display: grid;
  place-content: center;
  background-color:  skyblue;
  border-radius: 0.5rem;
  padding: 1rem;
}
